<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="ride_form">
        <%= render 'shared/ride_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Rides</h3>
      <%= render 'shared/rides' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Boulder RideShare</h1>

    <h2>
     The best way to get to the Mountains!!
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
 </div>
<% end %>