<%= form_for(@ride) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field ride-form"> 
    <%= f.label(:to_location, 'To') %>
    <%= f.select(:to_location, [['Breckenridge', 'Breckenridge'], ['Vail', 'Vail'], ['Copper Mountain', 'Copper Mountain'],['Loveland', 'Loveland'], ['Winter Park/Mary Jane', 'Winter Park/Mary Jane'], ['Arapahoe Basin','Arapahoe Basin'], ['Keystone', 'Keystone'], ['Beaver Creek', 'Beaver Creek'], ['Ski Cooper','Ski Cooper'], ['Steamboat', 'Steamboat'], ['Eldora', 'Eldora']]) %>
    <%= f.label(:from_location, 'From') %>
    <%= f.select(:from_location, ['Boulder', 'Boulder']) %>
    <%= f.label(:leaving_at, 'Leaving at') %>
    <%= f.text_field(:leaving_at, type:'datetime-local') %>
    <%= f.label(:price_per_passenger, 'Price Per Passenger') %>
    <%= f.number_field(:price_per_passenger, in: 1.0..20.0, step: 0.5) %>
    <%= f.label(:car_capacity, 'Passenger Capacity') %>
    <%= f.number_field(:car_capacity, in: 1.0..20.0, step: 1) %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>