<li id="<%= ride.id %>">
  <%= link_to gravatar_for(ride.driver_user, size: 50), ride.driver_user %>
  <span class="driver_user"><%= link_to ride.driver_user.name, ride.driver_user %></span>
  <br/> Leaving at:
  <span class="leaving_at"><%= ride.leaving_at %></span>
  <br/> 
  <span class="from_location"><%= ride.from_location %></span>
  -->
  <span class="to_location"><%= ride.to_location %></span>
  <br/> Car Capacity:
  <span class="car_capacity"><%= ride.car_capacity %></span>
  <br/> Price Per Passenger: $
  <span class="price_per_passenger"><%= ride.price_per_passenger %></span>
  <br/> Contact me at:
  <span class="Contact Information"><%= ride.driver_user.email %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(ride.created_at) %> ago.
    <%# if current_driver_user?(ride.driver_user) %>
      <%#= link_to "delete", ride, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <%# end %>
  </span>
</li>